
<div class="DemoBS2">
<div class="panel-group" id="accordion">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion"
                href="#accordionOne">
                 Concept Node
                
            </a>
          </h4>
        </div>
        <div id="accordionOne" class="panel-collapse collapse in">
          <div class="panel-body">
               Concept Schema here
            </div>
        </div>
      </div>
      <div class="panel panel-success">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#accordionTwo">
              Concept Schema
            </a>
          </h4>
        </div>
        <div id="accordionTwo" class="panel-collapse collapse">
          <div id="test" class="panel-body">
            Concept Schema List here !!!
            
          </div>
            <div class="panel-footer">
                Concept Schema Form
            </div>
        </div>
      </div>
</div>
    
</div
