
<div id="div-teacher-menu" class="table-responsive">
   <div class="list-group">
        <a href="#" class="list-group-item ">
            <span class="glyphicon glyphicon-book"></span> Assigned Courses <span class="badge">1</span>
        </a>
        <a href="#" class="list-group-item active">
            <span class="glyphicon glyphicon-file"></span> Knowledge Maps <span id="bg-knowledgemap-count" data-bind="text:Display().knowledgeMaplist.length" class="badge">2</span>
        </a>
       
       <a href="#" class="list-group-item">
            <span class="glyphicon glyphicon-import"></span> Import Knowledge Maps 
        </a>
        <a href="#" class="list-group-item">
            <span class="glyphicon glyphicon-list"></span> Student Accounts <span class="badge">50</span>
        </a>
        <a href="#" class="list-group-item">
            <span class="glyphicon glyphicon-list-alt"></span> Tests <span class="badge">3</span>
        </a>

    </div>
    
</div>
   
